In [36]:
import pandas as pd
import json

In [37]:
with open("test/data/response.json") as f:
  data = json.load(f)
  
product_info_data = pd.json_normalize(data, record_path=['Grid_20171128000000000572_1','row'])
product_info_data = product_info_data.drop(['M_DISTCTNS_ITM', 'PRDLST_CL', 'MTC_NM', 'MAIN_SPCIES_NM', 'EFFECT', 'PURCHASE_MTH', 'COOK_MTH', 'TRT_MTH', 'URL', 'IMG_URL', 'REGIST_DE'], axis=1)
product_info_data['M_DISTCTNS'] = product_info_data['M_DISTCTNS'].apply(lambda x: x.replace("월", ""))
product_info_data['PRDCTN__ERA'] = product_info_data["PRDCTN__ERA"].apply(lambda x: x.replace("월", ""))

In [38]:
display(product_info_data)

     ROW_NUM  IDNTFC_NO PRDLST_NM M_DISTCTNS PRDCTN__ERA
0          1     227366       산마늘          4         3~5
1          2     227365        울외          6         3~7
2          3     227364        밤콩          7           7
3          4     227363        노각          4         4~7
4          5     227362        삼채          6           6
..       ...        ...       ...        ...         ...
177      178     219814        당근         12       10~12
178      179     219813      브로콜리         12        9~12
179      180     219812       콜라비         12       11~12
180      181     219811     콜리플라워         12        9~12
181      182     219810        키위         12       10~12

[182 rows x 5 columns]

In [39]:
product_code_data = pd.read_csv('test/data/productname.csv')
display(product_code_data)

    PRODUCT_CODE PRODUCT_NAME
0            111            쌀
1            112           찹쌀
2            141            콩
3            142            팥
4            143           녹두
..           ...          ...
80           426          건포도
81           427        건블루베리
82           428           망고
83           430         아보카도
84           429         블루베리

[85 rows x 2 columns]

In [43]:
product_info = pd.merge(left=product_code_data, right=product_info_data,how="left", left_on='PRODUCT_NAME', right_on='PRDLST_NM')
product_info = product_info.drop(['IDNTFC_NO', 'PRDLST_NM', 'ROW_NUM'], axis=1)
display(product_info)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS PRDCTN__ERA
0            111            쌀         10        9~10
1            112           찹쌀          9        9~10
2            141            콩        NaN         NaN
3            142            팥          9        9~10
4            143           녹두         10        9~10
..           ...          ...        ...         ...
80           426          건포도        NaN         NaN
81           427        건블루베리        NaN         NaN
82           428           망고        NaN         NaN
83           430         아보카도        NaN         NaN
84           429         블루베리          7         7~9

[85 rows x 4 columns]

In [45]:
non_distinct_product = product_info[product_info.notna().all(axis=1)]
display(non_distinct_product)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS     PRDCTN__ERA
0            111            쌀         10            9~10
1            112           찹쌀          9            9~10
3            142            팥          9            9~10
4            143           녹두         10            9~10
5            144           메밀         10           10~11
6            151          고구마          9            9~10
7            152           감자          7            6~10
8            161           귀리          9            9~10
10           162           보리          6               6
11           163           수수         10            9~10
12           164           율무          9            9~10
13           114           기장          9            8~10
14           211           배추         11           11~12
15           212          양배추          5             5~7
17           280         브로콜리         12            9~12
18           213          시금치          2            11~2
19           214           상추          5             5~8
20           215        얼갈이배추         11           11~12
21           216            갓         10            9~12
22           221           수박          7             6~8
23           222           참외          6             6~8
24           223           오이          5             5~8
26           225          토마토          7             7~9
27           226           딸기          2             1~5
28           231            무         11           10~11
29           232           당근         12           10~12
30           233           열무          6             5~6
37           245           양파          7             4~7
39           247           생강         10            8~11
41           251           가지          7            6~10
42           252          미나리          3             3~4
43           253           깻잎          7            1~12
44           254           부추          6            6~10
45           255           피망          5            4~12
46           256         파프리카         11            5~11
47           257           멜론          8            7~10
48           261         브로콜리         12            9~12
50           263          청경채         10           10~연중
53           422        방울토마토          6             6~9
54           217           연근          2             9~3
55           218           우엉          1             1~3
57           312           참깨          9  참깨파종 5~7 수확8~9
58           313           들깨         10              10
59           314           땅콩         10           10~11
60           315        느타리버섯         10            1~12
61           316         팽이버섯          1            1~12
62           317        새송이버섯         10            1~12
63           318           호두         10            9~10
65           321        양송이버섯         10            1~12
66           322         표고버섯          9            9~10
67           411           사과          9            7~11
68           412            배          9            8~10
69           413          복숭아          8             6~8
70           414           포도          8            8~10
71           415           감귤          1            10~3
75           420         파인애플          4             3~9
78           424           레몬          1            10~1
79           425           체리          6             5~6
84           429         블루베리          7             7~9

In [46]:
distinct_product = product_info[product_info.isna().any(axis=1)]
display(distinct_product)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS PRDCTN__ERA
2            141            콩        NaN         NaN
9            113          혼합곡        NaN         NaN
16           279        알배기배추        NaN         NaN
25           224           호박        NaN         NaN
31           241          건고추        NaN         NaN
32           242          풋고추        NaN         NaN
33           243         붉은고추        NaN         NaN
34           244          피마늘        NaN         NaN
35           258      깐마늘(국산)        NaN         NaN
36           259      깐마늘(수입)        NaN         NaN
38           246            파        NaN         NaN
40           248         고춧가루        NaN         NaN
49           262          양상추        NaN         NaN
51           264           케일        NaN         NaN
52           265          콩나물        NaN         NaN
56           266         절임배추        NaN         NaN
64           319          아몬드        NaN         NaN
72           416           단감        NaN         NaN
73           418          바나나        NaN         NaN
74           419          참다래        NaN         NaN
76           421          오렌지        NaN         NaN
77           423           자몽        NaN         NaN
80           426          건포도        NaN         NaN
81           427        건블루베리        NaN         NaN
82           428           망고        NaN         NaN
83           430         아보카도        NaN         NaN