In [23]:
import pandas as pd
import json
pd.options.display.float_format = '{:,}'.format

In [34]:
with open("data/response.json", 'rt', encoding='utf-8') as f:
  data = json.load(f)
  
product_info_data = pd.json_normalize(data, record_path=['Grid_20171128000000000572_1','row'])
product_info_data = product_info_data.drop(['M_DISTCTNS_ITM', 'PRDLST_CL', 'MTC_NM', 'MAIN_SPCIES_NM', 'EFFECT', 'PURCHASE_MTH', 'COOK_MTH', 'TRT_MTH', 'URL', 'IMG_URL', 'REGIST_DE'], axis=1)
product_info_data['M_DISTCTNS'] = product_info_data['M_DISTCTNS'].apply(lambda x: x.replace("월", ""))
product_info_data['PRDCTN__ERA'] = product_info_data["PRDCTN__ERA"].apply(lambda x: x.replace("월", ""))

In [6]:
display(product_info_data)

     ROW_NUM  IDNTFC_NO PRDLST_NM M_DISTCTNS PRDCTN__ERA
0          1     227366       산마늘          4         3~5
1          2     227365        울외          6         3~7
2          3     227364        밤콩          7           7
3          4     227363        노각          4         4~7
4          5     227362        삼채          6           6
..       ...        ...       ...        ...         ...
177      178     219814        당근         12       10~12
178      179     219813      브로콜리         12        9~12
179      180     219812       콜라비         12       11~12
180      181     219811     콜리플라워         12        9~12
181      182     219810        키위         12       10~12

[182 rows x 5 columns]

In [35]:
product_code_data = pd.read_csv('data/productname.csv')
display(product_code_data)

    PRODUCT_CODE PRODUCT_NAME
0            111            쌀
1            112           찹쌀
2            141            콩
3            142            팥
4            143           녹두
..           ...          ...
80           426          건포도
81           427        건블루베리
82           428           망고
83           430         아보카도
84           429         블루베리

[85 rows x 2 columns]

In [36]:
product_info = pd.merge(left=product_code_data, right=product_info_data,how="left", left_on='PRODUCT_NAME', right_on='PRDLST_NM')
product_info = product_info.drop(['IDNTFC_NO', 'PRDLST_NM', 'ROW_NUM'], axis=1)
display(product_info)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS PRDCTN__ERA
0            111            쌀         10        9~10
1            112           찹쌀          9        9~10
2            141            콩        NaN         NaN
3            142            팥          9        9~10
4            143           녹두         10        9~10
..           ...          ...        ...         ...
80           426          건포도        NaN         NaN
81           427        건블루베리        NaN         NaN
82           428           망고        NaN         NaN
83           430         아보카도        NaN         NaN
84           429         블루베리          7         7~9

[85 rows x 4 columns]

In [8]:
monthly_20 = pd.read_csv("data/monthly20.01-12.csv", encoding="utf-8")
monthly_21 = pd.read_csv("data/monthly21.01-05.csv", encoding="utf-8")
monthly_22 = pd.read_csv("data/monthly2022.01-05.csv", encoding="utf-8")

In [12]:
monthly_20 = monthly_20[monthly_20['BASE_MM'] == 3]
monthly_21 = monthly_21[monthly_21['BASE_MM'] == 3]
monthly_22 = monthly_22[monthly_22['BASE_MM'] == 3]

In [15]:
concated_monthly = pd.concat([monthly_20, monthly_21, monthly_22], ignore_index=True)

In [40]:
avg_base_cost = concated_monthly.groupby('AGFD_PDLT_NM')['PDTN_QY'].agg(['mean']).astype(int)

In [32]:
display(avg_base_cost)

                 mean
AGFD_PDLT_NM
가지             699244
감              166024
감귤             525670
감자            1021321
갓                4259
...               ...
풋옥수수            34360
피망               4326
호박             795661
홍갓              27769
홍고추              1461

[126 rows x 1 columns]

In [37]:
product_info = pd.merge(left=product_info, right=avg_base_cost,how="left", left_on='PRODUCT_NAME', right_on='AGFD_PDLT_NM')

In [41]:
display(product_info)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS PRDCTN__ERA     mean
0            111            쌀         10        9~10      NaN
1            112           찹쌀          9        9~10      NaN
2            141            콩        NaN         NaN      NaN
3            142            팥          9        9~10      NaN
4            143           녹두         10        9~10      NaN
..           ...          ...        ...         ...      ...
80           426          건포도        NaN         NaN      NaN
81           427        건블루베리        NaN         NaN      NaN
82           428           망고        NaN         NaN      NaN
83           430         아보카도        NaN         NaN      NaN
84           429         블루베리          7         7~9 36,451.0

[85 rows x 5 columns]

In [42]:
non_distinct_product = product_info[product_info.notna().all(axis=1)]
distinct_product = product_info[product_info.isna().any(axis=1)]

In [43]:
display(non_distinct_product)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS PRDCTN__ERA        mean
6            151          고구마          9        9~10 1,397,962.0
7            152           감자          7        6~10 1,021,321.0
10           162           보리          6           6     8,616.0
13           114           기장          9        8~10     7,539.0
14           211           배추         11       11~12   755,930.0
15           212          양배추          5         5~7 4,862,197.0
17           280         브로콜리         12        9~12    71,967.0
18           213          시금치          2        11~2   490,876.0
19           214           상추          5         5~8   218,760.0
21           216            갓         10        9~12     4,259.0
22           221           수박          7         6~8 1,486,194.0
23           222           참외          6         6~8   148,571.0
24           223           오이          5         5~8   747,037.0
26           225          토마토          7         7~9 2,279,155.0
27           226           딸기          2         1~5   650,050.0
28           231            무         11       10~11   696,436.0
29           232           당근         12       10~12 1,103,713.0
30           233           열무          6         5~6    53,370.0
37           245           양파          7         4~7 2,383,149.0
39           247           생강         10        8~11    25,140.0
41           251           가지          7        6~10   699,244.0
42           252          미나리          3         3~4    26,468.0
43           253           깻잎          7        1~12    59,203.0
44           254           부추          6        6~10    96,423.0
45           255           피망          5        4~12     4,326.0
46           256         파프리카         11        5~11   207,656.0
48           261         브로콜리         12        9~12    71,967.0
50           263          청경채         10       10~연중     8,230.0
54           217           연근          2         9~3     2,425.0
55           218           우엉          1         1~3    47,525.0
67           411           사과          9        7~11 2,820,680.0
68           412            배          9        8~10   571,676.0
69           413          복숭아          8         6~8   380,520.0
70           414           포도          8        8~10   859,071.0
71           415           감귤          1        10~3   525,670.0
75           420         파인애플          4         3~9   114,848.0
78           424           레몬          1        10~1    10,458.0
79           425           체리          6         5~6     5,491.0
84           429         블루베리          7         7~9    36,451.0

In [45]:
display(distinct_product)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS     PRDCTN__ERA      mean
0            111            쌀         10            9~10       NaN
1            112           찹쌀          9            9~10       NaN
2            141            콩        NaN             NaN       NaN
3            142            팥          9            9~10       NaN
4            143           녹두         10            9~10       NaN
5            144           메밀         10           10~11       NaN
8            161           귀리          9            9~10       NaN
9            113          혼합곡        NaN             NaN       NaN
11           163           수수         10            9~10       NaN
12           164           율무          9            9~10       NaN
16           279        알배기배추        NaN             NaN       NaN
20           215        얼갈이배추         11           11~12       NaN
25           224           호박        NaN             NaN 795,661.0
31           241          건고추        NaN             NaN       NaN
32           242          풋고추        NaN             NaN  81,679.0
33           243         붉은고추        NaN             NaN       NaN
34           244          피마늘        NaN             NaN       NaN
35           258      깐마늘(국산)        NaN             NaN       NaN
36           259      깐마늘(수입)        NaN             NaN       NaN
38           246            파        NaN             NaN       NaN
40           248         고춧가루        NaN             NaN       NaN
47           257           멜론          8            7~10       NaN
49           262          양상추        NaN             NaN 468,254.0
51           264           케일        NaN             NaN     271.0
52           265          콩나물        NaN             NaN 475,314.0
53           422        방울토마토          6             6~9       NaN
56           266         절임배추        NaN             NaN       NaN
57           312           참깨          9  참깨파종 5~7 수확8~9       NaN
58           313           들깨         10              10       NaN
59           314           땅콩         10           10~11       NaN
60           315        느타리버섯         10            1~12       NaN
61           316         팽이버섯          1            1~12       NaN
62           317        새송이버섯         10            1~12       NaN
63           318           호두         10            9~10       NaN
64           319          아몬드        NaN             NaN       NaN
65           321        양송이버섯         10            1~12       NaN
66           322         표고버섯          9            9~10       NaN
72           416           단감        NaN             NaN 330,192.0
73           418          바나나        NaN             NaN 103,363.0
74           419          참다래        NaN             NaN       NaN
76           421          오렌지        NaN             NaN  10,458.0
77           423           자몽        NaN             NaN  10,458.0
80           426          건포도        NaN             NaN       NaN
81           427        건블루베리        NaN             NaN       NaN
82           428           망고        NaN             NaN       NaN
83           430         아보카도        NaN             NaN       NaN