In [19]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv

load_dotenv()
CATEGORY_CODES = ['100', '200', '300', '400']

In [42]:
product_cost_2017 = pd.read_csv('data/product_cost_2017.csv', encoding='utf-8')
product_cost_2018 = pd.read_csv('data/product_cost_2018.csv', encoding='utf-8')
product_cost_2019 = pd.read_csv('data/product_cost_2019.csv', encoding='utf-8')
product_cost_2020 = pd.read_csv('data/product_cost_2020.csv', encoding='utf-8')
product_cost_2021 = pd.read_csv('data/product_cost_2021.csv', encoding='utf-8')
product_cost_2022 = pd.read_csv('data/product_cost_2022.csv', encoding='utf-8')
product_cost_2023 = pd.read_csv('data/product_cost_2023.csv', encoding='utf-8')

data = pd.concat(
    [product_cost_2017, product_cost_2018, product_cost_2019, product_cost_2020, product_cost_2021,
     product_cost_2022, product_cost_2023], axis=0, ignore_index=True)

In [44]:
result = {}
fluctuation = pd.DataFrame(
    columns=['COUNT_PER_TEN_DAYS', 'PRODUCT_CODE', 'MIN_PRODUCT_COST',
             'MAX_PRODUCT_COST', 'AVG_PRODUCT_COST', 'MIN_FLUCTUATION_RATE', 'MAX_FLUCTUATION_RATE']
).astype({
    'COUNT_PER_TEN_DAYS': 'int',
    'PRODUCT_CODE': 'str',
    'MIN_PRODUCT_COST': 'float',
    'MAX_PRODUCT_COST': 'float',
    'AVG_PRODUCT_COST': 'float',
    'MIN_FLUCTUATION_RATE': 'float',
    'MAX_FLUCTUATION_RATE': 'float'
})
product_code_list = data['PRODUCT_CODE'].unique()

for product_code in product_code_list:
    result[product_code] = [{
        'TOTAL_COUNT': 0,
        'TOTAL_MIN_COST': float('inf'),
        'TOTAL_MAX_COST': 0,
        'TOTAL_AVG_COST': 0,
        'TOTAL_MIN_RATIO': 0,
        'TOTAL_MAX_RATIO': 0
    } for _ in range(36)]

    product_data = data.loc[data['PRODUCT_CODE'] == product_code, :].reset_index(drop=True)
    for index, row in product_data.iloc[1:].iterrows():
        prev_avg_cost = product_data.iloc[index]['AVG_PRODUCT_COST']
        min_ratio = 1 + (row['MIN_PRODUCT_COST'] - prev_avg_cost) / prev_avg_cost
        max_ratio = 1 + (row['MAX_PRODUCT_COST'] - prev_avg_cost) / prev_avg_cost
        acc_result = result[product_code][int(row['COUNT_PER_TEN_DAYS'])]
        acc_result['TOTAL_COUNT'] += 1
        acc_result['TOTAL_MIN_COST'] = np.min([acc_result['TOTAL_MIN_COST'], row['MIN_PRODUCT_COST']])
        acc_result['TOTAL_MAX_COST'] = np.max([acc_result['TOTAL_MAX_COST'], row['MAX_PRODUCT_COST']])
        acc_result['TOTAL_AVG_COST'] += row['AVG_PRODUCT_COST']
        acc_result['TOTAL_MIN_RATIO'] += min_ratio
        acc_result['TOTAL_MAX_RATIO'] += max_ratio
        
    for index, info in enumerate(result[product_code]):
        value = {
            'COUNT_PER_TEN_DAYS': index,
            'PRODUCT_CODE': product_code,
            'MIN_PRODUCT_COST': 0,
            'MAX_PRODUCT_COST': 0,
            'AVG_PRODUCT_COST': 0,
            'MIN_FLUCTUATION_RATE': 0,
            'MAX_FLUCTUATION_RATE': 0
        }
        if info['TOTAL_COUNT'] != 0:
            value['MIN_PRODUCT_COST'] = info['TOTAL_MIN_COST']
            value['MAX_PRODUCT_COST'] = info['TOTAL_MAX_COST']
            value['AVG_PRODUCT_COST'] = info['TOTAL_AVG_COST'] / info['TOTAL_COUNT']
            value['MIN_FLUCTUATION_RATE'] = info['TOTAL_MIN_RATIO'] / info['TOTAL_COUNT']
            value['MAX_FLUCTUATION_RATE'] = info['TOTAL_MAX_RATIO'] / info['TOTAL_COUNT']
            
        fluctuation = pd.concat([fluctuation, pd.DataFrame([value])], ignore_index=True)

In [45]:
fluctuation

,COUNT_PER_TEN_DAYS,PRODUCT_CODE,MIN_PRODUCT_COST,MAX_PRODUCT_COST,AVG_PRODUCT_COST,MIN_FLUCTUATION_RATE,MAX_FLUCTUATION_RATE
0,0,111,38300.0,55240.0,47586.190476,0.998526,1.000882
1,1,111,38400.0,55750.0,47557.440476,0.998788,1.001827
2,2,111,38700.0,56050.0,47788.214286,0.996377,1.003267
3,3,111,40120.0,56220.0,47938.757440,0.998356,1.002956
4,4,111,40800.0,56620.0,48026.527778,0.999378,1.001582
...,...,...,...,...,...,...,...
2047,31,280,24110.0,26100.0,25436.666667,0.947844,1.026078
2048,32,280,19930.0,24100.0,22020.000000,0.905086,1.094460
2049,33,280,20860.0,22840.0,21898.000000,0.952598,1.043018
2050,34,280,20100.0,23240.0,21265.000000,0.945215,1.092876
2051,35,280,19080.0,22510.0,21201.666667,0.899929,1.061709

In [54]:
selected_basic_product_info = pd.read_csv("data/selected_basic_product_info.csv", encoding='utf-8')

In [56]:
selected_basic_product_info['M_DISTCTNS'] = ['ALL' for _ in range(len(selected_basic_product_info))]

In [58]:
selected_basic_product_info

    PRODUCT_ID  PRODUCT_CODE PRODUCT_NAME M_DISTCTNS  PRDCTN__ERA
0            0           111            쌀        ALL         1536
1            1           112           찹쌀        ALL         1536
2            2           141            콩        ALL            0
3            3           142            팥        ALL         1536
4            4           143           녹두        ALL         1536
5            5           144           메밀        ALL         3072
6            6           151          고구마        ALL         1536
7            7           152           감자        ALL         1984
8           14           211           배추        ALL         6144
9           15           212          양배추        ALL          224
10          16           279        알배기배추        ALL            0
11          17           280         브로콜리        ALL         7680
12          18           213          시금치        ALL            0
13          19           214           상추        ALL          480
14          20           215        얼갈이배추        ALL         6144
15          22           221           수박        ALL          448
16          23           222           참외        ALL          448
17          24           223           오이        ALL          480
18          25           224           호박        ALL            0
19          26           225          토마토        ALL          896
20          27           226           딸기        ALL           62
21          28           231            무        ALL         3072
22          29           232           당근        ALL         7168
23          30           233           열무        ALL           96
24          31           241          건고추        ALL            0
25          32           242          풋고추        ALL            0
26          33           243         붉은고추        ALL            0
27          34           244          피마늘        ALL            0
28          35           258      깐마늘(국산)        ALL            0
29          37           245           양파        ALL          240
30          38           246            파        ALL            0
31          39           247           생강        ALL         3840
32          42           252          미나리        ALL           24
33          43           253           깻잎        ALL         8190
34          45           255           피망        ALL         8176
35          46           256         파프리카        ALL         4064
36          47           257           멜론        ALL         1920
37          53           422        방울토마토        ALL          960
38          57           312           참깨        ALL            0
39          58           313           들깨        ALL            0
40          59           314           땅콩        ALL         3072
41          60           315        느타리버섯        ALL         8190
42          61           316         팽이버섯        ALL         8190
43          62           317        새송이버섯        ALL         8190
44          67           411           사과        ALL         3968
45          68           412            배        ALL         1792
46          69           413          복숭아        ALL          448
47          70           414           포도        ALL         1792
48          71           415           감귤        ALL            0
49          72           416           단감        ALL            0
50          73           418          바나나        ALL            0
51          74           419          참다래        ALL            0
52          75           420         파인애플        ALL         1016
53          76           421          오렌지        ALL            0
54          78           424           레몬        ALL            0
55          79           425           체리        ALL           96
56          82           428           망고        ALL            0

In [30]:
season = {}

for product_code in product_code_list:
    season[product_code] = {
        'ALL':0,
        'SPRING':0,
        'SUMMER':0,
        'FALL':0,
        'WINTER':0
    }
    
    all_filter = 0
    for i in range(12):
        bit = (1 < i)
        all_filter += bit

In [59]:
a = [1,2,3,4]
b = ['a','b','c','d']

for i, j in zip(a, b):
    print(i, j)

1 a
2 b
3 c
4 d