In [132]:
import os

import requests
import json
import pandas as pd
import numpy as np
import aiohttp
import asyncio
from dotenv import load_dotenv

load_dotenv()

KAMIS_CERT_KEY = os.getenv('KAMIS_CERT_KEY')
KAMIS_CERT_ID = os.getenv('KAMIS_CERT_ID')
CATEGORY_CODES = ['100', '200', '300', '400']

In [133]:
# 18-01-01 ~ 23-12-31
# 사용할 작물별로 그날의 평균값
# 10일 단위로 최대 최소 가격
# 10일 단위 전체 평균 가격

In [134]:
# api 호출
async def get_daily_price(date: str, category_code: str,
    session: aiohttp.client.ClientSession) -> json:
    headers = {'Content-Type': 'application/json', 'charset': 'UTF-8', 'Accept': '*/*'}
    request_url = 'http://www.kamis.or.kr/service/price/xml.do?action=dailyPriceByCategoryList'
    params = {
        'p_cert_key': KAMIS_CERT_KEY,
        'p_cert_id': KAMIS_CERT_ID,
        'p_item_category_code': category_code,
        'p_regday': date,
        'p_returntype': 'json'
    }

    for param in params.keys():
        request_url += f"&{param}={params[param]}"

    try:
        async with session.get(request_url) as response:
            return await response.json(content_type='text/plain')
    except Exception as e:
        return await get_daily_price(date, category_code, session)

In [135]:
# 하루동안 모든 카테고리에 속하는 작물의 모든 등급에 대한 가격 평균
async def get_daily_product_cost(date: str) -> dict:
    product_acc_cost = {}
    tasks = []
    async with aiohttp.ClientSession(timeout=aiohttp.ClientTimeout(20)) as session:
        for cat in CATEGORY_CODES:
            task = asyncio.create_task(get_daily_price(date, cat, session))
            tasks.append(task)

        response = await asyncio.gather(*tasks)

        for res in response:
            data = res['data']

            # 비정상 응답, error_code - 001, 200, 900
            if type(data) == list:
                continue

            for item in data['item']:
                item_code = int(item['item_code'])
                item_name = item['item_name']
                product_cost = item['dpr1'].replace(',', '')

                if product_cost == '-':
                    continue

                product_cost = int(product_cost)

                if product_acc_cost.get(item_code) is None:
                    product_acc_cost[item_code] = {
                        'total_cost': 0,
                        'total_count': 0,
                    }

                product_acc_cost[item_code]['total_cost'] += product_cost
                product_acc_cost[item_code]['total_count'] += 1

    result = {'date': date}
    product_avg_cost = {}

    for key in product_acc_cost.keys():
        acc_cost = product_acc_cost.get(key)
        product_avg_cost[key] = acc_cost['total_cost'] / acc_cost['total_count']

    result["cost"] = product_avg_cost
    return result

In [136]:
async def get_monthly_product_cost_df(year: str, month: str) -> pd.DataFrame:
    div, mod = divmod(int(month), 12)
    tasks = []
    for date in pd.date_range(f'{year}-{month}-01', f'{int(year) + div}-{mod + 1}-01',
                              inclusive='left').strftime('%Y-%m-%d'):
        task = asyncio.create_task(get_daily_product_cost(date))
        tasks.append(task)

    daily_product_cost_list = await asyncio.gather(*tasks)

    result = pd.DataFrame(
        columns=['YEAR', 'COUNT_PER_TEN_DAYS', 'PRODUCT_CODE', 'MIN_PRODUCT_COST',
                 'MAX_PRODUCT_COST', 'AVG_PRODUCT_COST']).astype({
        'YEAR': 'int',
        'COUNT_PER_TEN_DAYS': 'int',
        'PRODUCT_CODE': 'str',
        'MIN_PRODUCT_COST': 'float',
        'MAX_PRODUCT_COST': 'float',
        'AVG_PRODUCT_COST': 'float'
    })

    first_third = {}
    second_third = {}
    final_third = {}

    for product_cost in daily_product_cost_list:
        date = pd.to_datetime(product_cost['date'])
        cost = product_cost['cost']
        day = date.day

        target_third = None

        if day <= 10:
            target_third = first_third
        elif day <= 20:
            target_third = second_third
        else:
            target_third = final_third

        for key in cost.keys():
            if target_third.get(key) is None:
                target_third[key] = {
                    'MIN_PRODUCT_COST': float('inf'),
                    'MAX_PRODUCT_COST': 0,
                    'TOTAL_AVG_PRODUCT_COST': 0,
                    'TOTAL_COUNT': 0
                }

            avg_cost = cost[key]
            target_third[key]['MIN_PRODUCT_COST'] = np.min(
                [target_third[key]['MIN_PRODUCT_COST'], avg_cost])
            target_third[key]['MAX_PRODUCT_COST'] = np.max(
                [target_third[key]['MAX_PRODUCT_COST'], avg_cost])
            target_third[key]['TOTAL_AVG_PRODUCT_COST'] += avg_cost
            target_third[key]['TOTAL_COUNT'] += 1

    for key in first_third.keys():
        info = first_third[key]
        result = pd.concat([result, pd.DataFrame({
            'YEAR': [int(year)],
            'COUNT_PER_TEN_DAYS': [(int(month) - 1) * 3],
            'PRODUCT_CODE': [key],
            'MIN_PRODUCT_COST': [info['MIN_PRODUCT_COST']],
            'MAX_PRODUCT_COST': [info['MAX_PRODUCT_COST']],
            'AVG_PRODUCT_COST': [info['TOTAL_AVG_PRODUCT_COST'] / info['TOTAL_COUNT']]
        })], ignore_index=True)

    for key in second_third.keys():
        info = second_third[key]
        result = pd.concat([result, pd.DataFrame({
            'YEAR': [int(year)],
            'COUNT_PER_TEN_DAYS': [(int(month) - 1) * 3 + 1],
            'PRODUCT_CODE': [key],
            'MIN_PRODUCT_COST': [info['MIN_PRODUCT_COST']],
            'MAX_PRODUCT_COST': [info['MAX_PRODUCT_COST']],
            'AVG_PRODUCT_COST': [info['TOTAL_AVG_PRODUCT_COST'] / info['TOTAL_COUNT']]
        })], ignore_index=True)

    for key in final_third.keys():
        info = final_third[key]
        result = pd.concat([result, pd.DataFrame({
            'YEAR': [int(year)],
            'COUNT_PER_TEN_DAYS': [(int(month) - 1) * 3 + 2],
            'PRODUCT_CODE': [key],
            'MIN_PRODUCT_COST': [info['MIN_PRODUCT_COST']],
            'MAX_PRODUCT_COST': [info['MAX_PRODUCT_COST']],
            'AVG_PRODUCT_COST': [info['TOTAL_AVG_PRODUCT_COST'] / info['TOTAL_COUNT']]
        })], ignore_index=True)

    print(f'{year}-{month} done')
    return result

In [139]:
async def get_yearly_product_cost_df(year: str) -> pd.DataFrame:
    tasks = []

    # for month in range(1, 7):
    #     task = asyncio.create_task(get_monthly_product_cost_df(year, str(month)))
    #     tasks.append(task)
    # first_half = await asyncio.gather(*tasks)
    # 
    # await asyncio.sleep(10)
    # 
    # tasks = []
    # 
    # for month in range(7, 13):
    #     task = asyncio.create_task(get_monthly_product_cost_df(year, str(month)))
    #     tasks.append(task)
    #     
    # last_half = await asyncio.gather(*tasks)

    monthly_product_cost_list = []

    for month in range(1, 13):
        # task = asyncio.create_task(get_monthly_product_cost_df(year, str(month)))
        # tasks.append(task)
        monthly_product_cost = await get_monthly_product_cost_df(year, str(month))
        monthly_product_cost_list.append(monthly_product_cost)

    # monthly_product_cost_list = await asyncio.gather(*tasks)

    result = pd.DataFrame(
        columns=['YEAR', 'COUNT_PER_TEN_DAYS', 'PRODUCT_CODE', 'MIN_PRODUCT_COST',
                 'MAX_PRODUCT_COST', 'AVG_PRODUCT_COST']).astype({
        'YEAR': 'int',
        'COUNT_PER_TEN_DAYS': 'int',
        'PRODUCT_CODE': 'str',
        'MIN_PRODUCT_COST': 'float',
        'MAX_PRODUCT_COST': 'float',
        'AVG_PRODUCT_COST': 'float'
    })

    # monthly_product_cost = [*first_half, *last_half]

    result = pd.concat([result, *monthly_product_cost_list], ignore_index=True)
    return result

In [140]:
product_cost_2018 = await get_yearly_product_cost_df('2018')
product_cost_2019 = await get_yearly_product_cost_df('2019')
product_cost_2020 = await get_yearly_product_cost_df('2020')
product_cost_2021 = await get_yearly_product_cost_df('2021')
product_cost_2022 = await get_yearly_product_cost_df('2022')
product_cost_2023 = await get_yearly_product_cost_df('2023')

2019-1 done
2019-2 done
2019-3 done
2019-4 done
2019-5 done
2019-6 done
2019-7 done
2019-8 done
2019-9 done
2019-10 done
2019-11 done
2019-12 done
2020-1 done
2020-2 done
2020-3 done
2020-4 done
2020-5 done
2020-6 done
2020-7 done
2020-8 done
2020-9 done
2020-10 done
2020-11 done
2020-12 done
2021-1 done
2021-2 done
2021-3 done
2021-4 done
2021-5 done
2021-6 done
2021-7 done
2021-8 done
2021-9 done
2021-10 done
2021-11 done
2021-12 done
2022-1 done
2022-2 done
2022-3 done
2022-4 done
2022-5 done
2022-6 done
2022-7 done
2022-8 done
2022-9 done
2022-10 done
2022-11 done
2022-12 done
2023-1 done
2023-2 done
2023-3 done
2023-4 done
2023-5 done
2023-6 done
2023-7 done
2023-8 done
2023-9 done
2023-10 done
2023-11 done
2023-12 done

In [143]:
product_cost_2018.to_csv("data/product_cost_2018.csv", encoding='utf-8')
product_cost_2019.to_csv("data/product_cost_2019.csv", encoding='utf-8')
product_cost_2020.to_csv("data/product_cost_2020.csv", encoding='utf-8')
product_cost_2021.to_csv("data/product_cost_2021.csv", encoding='utf-8')
product_cost_2022.to_csv("data/product_cost_2022.csv", encoding='utf-8')
product_cost_2023.to_csv("data/product_cost_2023.csv", encoding='utf-8')

In [144]:
basic_product_info = pd.read_csv('data/basic_product_info.csv', encoding='utf-8')

In [145]:
basic_product_info

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS  PRDCTN__ERA
0            111            쌀       FALL         1536
1            112           찹쌀       FALL         1536
2            141            콩        ALL            0
3            142            팥       FALL         1536
4            143           녹두       FALL         1536
..           ...          ...        ...          ...
80           426          건포도        ALL            0
81           427        건블루베리        ALL            0
82           428           망고        ALL            0
83           430         아보카도        ALL            0
84           429         블루베리     SUMMER          896

[85 rows x 4 columns]

In [146]:
product_cost_2018

,YEAR,COUNT_PER_TEN_DAYS,PRODUCT_CODE,MIN_PRODUCT_COST,MAX_PRODUCT_COST,AVG_PRODUCT_COST
0,2018,0,111,38300.0,38400.0,38385.714286
1,2018,0,112,97400.0,97400.0,97400.000000
2,2018,0,141,158476.0,158476.0,158476.000000
3,2018,0,142,272800.0,272800.0,272800.000000
4,2018,0,143,342800.0,342800.0,342800.000000
...,...,...,...,...,...,...
1829,2018,35,419,34150.0,34550.0,34400.000000
1830,2018,35,420,19600.0,20900.0,19866.666667
1831,2018,35,421,48437.5,53250.0,50565.972222
1832,2018,35,424,66400.0,66400.0,66400.000000
1833,2018,35,428,40800.0,42800.0,41433.333333

In [150]:
product_cost_2017 = await get_monthly_product_cost_df('2017', '12')

2017-12 done

In [153]:
product_cost_2017 = product_cost_2017.loc[product_cost_2017.COUNT_PER_TEN_DAYS == 35, 'YEAR':]

In [154]:
product_cost_2017

,YEAR,COUNT_PER_TEN_DAYS,PRODUCT_CODE,MIN_PRODUCT_COST,MAX_PRODUCT_COST,AVG_PRODUCT_COST
106,2017,35,111,38100.000000,38300.000000,38200.000000
107,2017,35,112,97400.000000,97400.000000,97400.000000
108,2017,35,141,158476.000000,158476.000000,158476.000000
109,2017,35,142,272800.000000,272800.000000,272800.000000
110,2017,35,143,342800.000000,342800.000000,342800.000000
111,2017,35,144,2840.000000,2840.000000,2840.000000
112,2017,35,151,26000.000000,27000.000000,26366.666667
113,2017,35,152,45000.000000,45400.000000,45233.333333
114,2017,35,211,6300.000000,6540.000000,6440.000000
115,2017,35,212,7350.000000,8450.000000,7683.333333
116,2017,35,213,9800.000000,11000.000000,10400.000000
117,2017,35,214,16000.000000,21400.000000,18433.333333
118,2017,35,215,3600.000000,3680.000000,3640.000000
119,2017,35,221,8150.000000,8300.000000,8216.666667
120,2017,35,223,30916.666667,33361.166667,31472.277778
121,2017,35,224,18050.000000,22050.000000,19616.666667
122,2017,35,225,10050.000000,10050.000000,10050.000000
123,2017,35,226,22600.000000,23600.000000,23066.666667
124,2017,35,231,8350.000000,9100.000000,8583.333333
125,2017,35,232,16933.333333,17000.000000,16955.555556
126,2017,35,233,8080.000000,8480.000000,8240.000000
127,2017,35,241,630000.000000,633750.000000,630625.000000
128,2017,35,242,27400.000000,32266.666667,28788.888889
129,2017,35,243,63200.000000,80400.000000,72500.000000
130,2017,35,244,62975.000000,62975.000000,62975.000000
131,2017,35,245,16866.666667,16950.000000,16936.111111
132,2017,35,246,1720.000000,1770.000000,1743.333333
133,2017,35,247,48700.000000,49300.000000,48900.000000
134,2017,35,252,24037.500000,29062.500000,26237.500000
135,2017,35,253,23000.000000,27100.000000,24566.666667
136,2017,35,255,22900.000000,27900.000000,24600.000000
137,2017,35,256,18300.000000,22500.000000,20666.666667
138,2017,35,257,21400.000000,21700.000000,21516.666667
139,2017,35,258,123800.000000,123800.000000,123800.000000
140,2017,35,422,13800.000000,15700.000000,14366.666667
141,2017,35,312,310800.000000,310800.000000,310800.000000
142,2017,35,313,169333.333333,169333.333333,169333.333333
143,2017,35,314,230500.000000,240900.000000,232233.333333
144,2017,35,315,12600.000000,13200.000000,12933.333333
145,2017,35,316,8400.000000,9000.000000,8766.666667
146,2017,35,317,7700.000000,7900.000000,7766.666667
147,2017,35,411,31300.000000,31500.000000,31400.000000
148,2017,35,412,31000.000000,31000.000000,31000.000000
149,2017,35,414,32700.000000,32700.000000,32700.000000
150,2017,35,415,18400.000000,19000.000000,18733.333333
151,2017,35,416,28100.000000,28300.000000,28233.333333
152,2017,35,418,21000.000000,21000.000000,21000.000000
153,2017,35,419,30000.000000,30200.000000,30033.333333
154,2017,35,420,24200.000000,24200.000000,24200.000000
155,2017,35,421,54100.000000,54100.000000,54100.000000
156,2017,35,424,63600.000000,63600.000000,63600.000000
157,2017,35,428,44000.000000,44000.000000,44000.000000

In [157]:
product_cost_list = pd.concat(
    [product_cost_2017, product_cost_2018, product_cost_2019, product_cost_2020, product_cost_2021,
     product_cost_2022, product_cost_2023], axis=0, ignore_index=True)

In [158]:
product_cost_list

,YEAR,COUNT_PER_TEN_DAYS,PRODUCT_CODE,MIN_PRODUCT_COST,MAX_PRODUCT_COST,AVG_PRODUCT_COST
0,2017,35,111,38100.0,38300.0,38200.000000
1,2017,35,112,97400.0,97400.0,97400.000000
2,2017,35,141,158476.0,158476.0,158476.000000
3,2017,35,142,272800.0,272800.0,272800.000000
4,2017,35,143,342800.0,342800.0,342800.000000
...,...,...,...,...,...,...
11106,2023,35,418,25410.0,25410.0,25410.000000
11107,2023,35,420,30210.0,31110.0,30590.000000
11108,2023,35,424,67580.0,69350.0,67875.000000
11109,2023,35,425,108066.5,109766.5,108883.166667
11110,2023,35,428,42970.0,47050.0,44720.000000

In [167]:
start_index = product_cost_list.loc[product_cost_list['YEAR'] == 2018].index[0]

52

In [ ]:
def make_cost_fluctuation_df(data: pd.DataFrame, start_index: int) -> pd.DataFrame:
    result = {}

    product_code_list = data['PRODUCT_CODE'].unique()

    for product_code in product_code_list:
        fluctuation = pd.DataFrame(
            columns=['YEAR', 'COUNT_PER_TEN_DAYS', 'PRODUCT_CODE', 'MIN_PRODUCT_COST',
                     'MAX_PRODUCT_COST', 'AVG_PRODUCT_COST', 'PRODUCT_MIN_RATE', 'PRODUCT_MAX_RATE']
        ).astype({
            'YEAR': 'int',
            'COUNT_PER_TEN_DAYS': 'int',
            'PRODUCT_CODE': 'str',
            'MIN_PRODUCT_COST': 'float',
            'MAX_PRODUCT_COST': 'float',
            'AVG_PRODUCT_COST': 'float',
            'PRODUCT_MIN_RATE': 'float',
            'PRODUCT_MAX_RATE': 'float'
        })
        
        product_data = data.loc[data['PRODUCT_CODE'] == product_code, :]
        

    for index in range(start_index, len(data)):
        prev =

In [ ]:
result = {}
data = product_cost_list
product_code_list = data['PRODUCT_CODE'].unique()

for product_code in product_code_list:
    result[product_code] = [{} for _ in range(36)]
    product_data = data.loc[data['PRODUCT_CODE'] == product_code, :]
    for index, row in product_data.iterrows():

In [175]:
len(product_cost_2017)

52

In [179]:
product_code_list = product_cost_list['PRODUCT_CODE'].unique().tolist()

In [193]:
selected_basic_product_info = basic_product_info[basic_product_info['PRODUCT_CODE'].isin(product_code_list)]

In [209]:
selected_basic_product_info.reset_index(drop=True)

    PRODUCT_CODE PRODUCT_NAME M_DISTCTNS  PRDCTN__ERA
0            111            쌀       FALL         1536
1            112           찹쌀       FALL         1536
2            141            콩        ALL            0
3            142            팥       FALL         1536
4            143           녹두       FALL         1536
5            144           메밀       FALL         3072
6            151          고구마       FALL         1536
7            152           감자     SUMMER         1984
8            211           배추       FALL         6144
9            212          양배추     SPRING          224
10           279        알배기배추        ALL            0
11           280         브로콜리     WINTER         7680
12           213          시금치     WINTER            0
13           214           상추     SPRING          480
14           215        얼갈이배추       FALL         6144
15           221           수박     SUMMER          448
16           222           참외     SUMMER          448
17           223           오이     SPRING          480
18           224           호박        ALL            0
19           225          토마토     SUMMER          896
20           226           딸기     WINTER           62
21           231            무       FALL         3072
22           232           당근     WINTER         7168
23           233           열무     SUMMER           96
24           241          건고추        ALL            0
25           242          풋고추        ALL            0
26           243         붉은고추        ALL            0
27           244          피마늘        ALL            0
28           258      깐마늘(국산)        ALL            0
29           245           양파     SUMMER          240
30           246            파        ALL            0
31           247           생강       FALL         3840
32           252          미나리     SPRING           24
33           253           깻잎     SUMMER         8190
34           255           피망     SPRING         8176
35           256         파프리카       FALL         4064
36           257           멜론     SUMMER         1920
37           422        방울토마토     SUMMER          960
38           312           참깨       FALL            0
39           313           들깨       FALL            0
40           314           땅콩       FALL         3072
41           315        느타리버섯       FALL         8190
42           316         팽이버섯     WINTER         8190
43           317        새송이버섯       FALL         8190
44           411           사과       FALL         3968
45           412            배       FALL         1792
46           413          복숭아     SUMMER          448
47           414           포도     SUMMER         1792
48           415           감귤     WINTER            0
49           416           단감        ALL            0
50           418          바나나        ALL            0
51           419          참다래        ALL            0
52           420         파인애플     SPRING         1016
53           421          오렌지        ALL            0
54           424           레몬     WINTER            0
55           425           체리     SUMMER           96
56           428           망고        ALL            0

In [185]:
selected_basic_product_info.to_csv('data/selected_basic_product_info.csv', encoding='utf-8')

In [ ]:
fluctuation = pd.DataFrame(
        columns=['YEAR', 'COUNT_PER_TEN_DAYS', 'PRODUCT_CODE', 'MIN_PRODUCT_COST',
                 'MAX_PRODUCT_COST', 'AVG_PRODUCT_COST', 'PRODUCT_MIN_RATE', 'PRODUCT_MAX_RATE']
    ).astype({
        'YEAR': 'int',
        'COUNT_PER_TEN_DAYS': 'int',
        'PRODUCT_CODE': 'str',
        'MIN_PRODUCT_COST': 'float',
        'MAX_PRODUCT_COST': 'float',
        'AVG_PRODUCT_COST': 'float',
        'PRODUCT_MIN_RATE': 'float',
        'PRODUCT_MAX_RATE': 'float'
    })